#SERVER
ENV=development

# Server configuration
PORT=8083

# Database configuration
DB_TYPE=postgres
DB_USER=postgres.okniamsgdahxklqcardr
DB_PASSWORD=jftajNeGLw54Tz2A
DB_HOST=aws-0-eu-west-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_CONN="postgres://postgres.okniamsgdahxklqcardr:jftajNeGLw54Tz2A@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"

# JWT and authentication
JWT_SECRET=tBSom4Y1DfQm9escT+aezrm9z3HlgV3u/1xI46IHI24
AUTH_COOKIE=actCookie